.base{
    margin: auto;
    margin-top: 50px;
    border: 1px groove;
    box-shadow: black;
    background-color: rgb(255, 255, 255);
    width: 300px;
    align-content: center;
    padding: 30px 30px;
    
}
form{text-align: left;}

.box {
    width: 300px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 20px;
  }
.b1 {
    margin-top: 10px;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    background-color:#aab2aa ;
    
}

    input{
        border: 3px groove;
        padding: 10px 20px;
        
    }

    .span{
        display: flex;
        justify-content: space-between;
    }
    .t1{
        color: skyblue;
        text-decoration: underline;
    }
.p1{
    color: red;
}